body {
    font-family: Arial, sans-serif;
    background-color: #ABDCFF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 85%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
