@media screen and (max-width: 1000px) {
    .portfolio-item p {
        display: none; /* Hide the description text */
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #ABDCFF;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 85%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.portfolio-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px
}

.portfolio-item {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.portfolio-item img {
    padding: 20px;
    max-width: 85%;
    max-height: 400px; 
    height: auto;
}
