@media screen and (max-width: 1000px) {
    .portfolio-container:nth-child(2) {
        display: none; /* Hide the second portfolio container */
    }
}

/* Initially hide the second portfolio container */
.portfolio-container:nth-child(2) {
    opacity: 1;
}

@media (max-height: 400px) {
    .container{
      overflow-y: scroll ;
      margin: 0 auto ;
      position: static ;
     }
}

body {
    font-family: Arial, sans-serif;
    background-color: #a1c6df;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 85%;
    margin-top: auto;
}

.section-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.portfolio-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 85%;
    margin: 20px;
    margin-bottom: auto;
}

.portfolio-item {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.portfolio-item img {
    padding: 20px;
    max-width: 85%;
    max-height: 400px; 
    height: auto;
}

button {
    background-color: #ABDCFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #83C4E0;
}

button:active {
    background-color: #5DA3C5;
}

button:disabled {
    background-color: #D8D8D8;
    color: #707070;
    cursor: not-allowed;
}

.hidden {
    display: none;
}
